// @font-face
// @include font-face(proxima-nova, /css/fonts/proxima-nova, normal, italic, false);
@mixin font-face($family-name, $font-path, $font-weight: normal, $font-style: normal, $include-svg: false) {
	@font-face {
		font-family: $family-name;
		src: url('#{$font-path}.eot');
		src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}.woff') format('woff'),
			url('#{$font-path}.ttf') format('truetype'),
			// @if $include-svg == true {
			url('#{$font-path}.svg##{$family-name}') format('svg');
			// }
		font-weight: $font-weight;
		font-style: $font-style;
	}
}