.fuer-bewerber-overview {
	// padding: $unit-20 0;
	background: $gray-color-light;


	.is-background {
		background: url("#{$img-path}/business-discussion.jpg") center center no-repeat;
    	background-size: cover;
    	min-height: 40vh;
	}

	.is-content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 0 10% 0 5%;
		text-align: center;
	}

	.button-container {
		margin-top: $unit-10;
        text-align: center;
        a {
        	margin: 0 $unit-5;
        }
    }
}